* {
  box-sizing: border-box;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, purple, salmon);
  min-height: 100vh;
  font-family: sans-serif;
}

.Form {
  padding: 2rem;
  padding-top: 4em;
  background: linear-gradient(to bottom, rgba(255,255,255, .95), white);
  border-radius: .25rem;
  box-shadow: 1em 1em 1em rgba(0,0,0, .1);
  width: 25em;
  height: 30em;
  position: relative;
}

.Form-Group {
  margin: 0 0 1rem;
}

.Form-Label {
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: .7rem;
  font-weight: 600;
}

input[type="text"],
textarea {
  display: block;
  padding: .5rem 1rem;
  width: 100%;
  border: 1px solid #eee;
}

/* styles for ratings section */


.starRating:not(old){
  display        : inline-block;
  width          : 7.5em;
  height         : 1.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.starRating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.starRating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  background      : url('./images/star-off.svg');
  background-size : contain;
}
.starRating:not(old) > label:before{
  content         : '';
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  background      : url('./images/star-on.svg');
  background-size : contain;
  opacity         : 0;
  transition      : opacity 0.2s linear;
}
.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

.errMsg {
  background-color: #ff7272;
  color: white;
  padding: 1em;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.updateMsg {
  background-color: #71ff92;
  color: white;
  padding: 1em;
  text-align: center;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}